defaults
    mode tcp
    timeout client 10s
    timeout connect 5s
    timeout server 10s 
    timeout http-request 10s

frontend allFrontend
    bind *:80
    default_backend tools

backend tools
    server server1 tools:3001